<form role="form" ng-submit="SLC.search(SLC.serieName)">
    <div class="form-group">
        <div class="md-toolbar-tools search-bar" layout layout-align="center">
            <div class="input-group input-group-lg">
                <input data-ng-model="SLC.serieName" type="text" class="form-control" placeholder="Buscar Séries" aria-describedby="sizing-addon1" required >
                <span class="input-group-addon" id="searchseries" data-ng-click="SLC.search(SLC.serieName)">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </div>
    </div>
</form>

<div ng-include="'/core/serie/seriesListView.html'"></div>
